# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Store

example-test-security.sql
26-4-14-CCS6344_2610_Assignment 1 with rubrics.pdf

__pycache__/
